.eventContainer{
	padding-left: 0;
	padding-right: 0;
}
.infoTitle {
	font-weight: bold;
}
.checkbox{
	display: inline;
}
input[type="checkbox"] {

	margin: 0;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	display: block;
	padding: 70px 20px 20px;
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}

#form{
	padding:2%;
}